---
layout: default
---

<div class="intro" id="top">
  <div class="container">
    <h1>{{ site.title | markdownify }}</h1>
    <span class="description">{{ site.description }}</span>
  </div>
</div>

{% for s in site.data.content %}
  <section id="{{ s.section | downcase | replace:' ','-' | replace:'&','' | replace:'--','-' }}">
    <div class="container">
      {% if s.section %}
      <h2>{{ s.section }}</h2>
      {% endif %}
      {{ s.text | markdownify }}

      {% if s.subsections %}
        {% for sub in s.subsections %}
          {% if sub.title %}
          <h4>
            {{ sub.title }}
          </h4>
          {% endif %}
          {% if sub.type == "team" %}
          <ul class="team">
            {% for member in sub.members %}
            <li>
              <span class="image">
                <span{% if member.photo %} style="background-image: url({{ member.photo }});"{% endif %}></span>
              </span>
              <span class="name">
                {{ member.name }}
              </span>
              {% if member.role %}
              <span class="role">
                {{ member.role }}
              </span>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% elsif sub.text %}
          {{ sub.text | markdownify }}
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </section>
{% endfor %}
